{{ define "header" }}

<!DOCTYPE html>
<html lang="en">

    <head>
        <title>mailserver - GO email sender</title>
        <meta name="description" content="GO email with sendinblue api for developing.">
        <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style type="text/css" media="screen">
            <!-- @import url("/assets/style.css"); -->
        </style>
    </head>

{{ end }}